<div style="margin: 10px;">
    <div class="panel panel-default controlWidth">
        <div class="panel-heading">
            <div class="avatar icon-user-default inlineDiv"></div>
            <div class="inlineDiv lmarg10">
                <div class="panel-title">
                    Alina <span class="grayed">(intr-o dunga verde)</span>
                </div>
                <div class="grayed">last seen yesterday at 18:45</div>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
