<div style="margin: 10px;">
    <div class="panel panel-default chatWidth">
        <div class="panel-heading">
            <div class="avatar icon-user-default inlineDiv"></div>
            <div class="inlineDiv lmarg10">
                <div class="panel-title">
                    Alina <span class="grayed">(cu pisici)</span>
                </div>
                <div class="grayed">last seen yesterday at 18:45</div>
            </div>
        </div>
        <div class="panel-body chatHeight" id="chatMessages">
            <div ng-bind-html="chat.sceMessages"></div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="chat.typedMessage" ng-keydown="keyDownOnMessageInput($event)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">@</button>
                </span>
            </div>
        </div>
    </div>
</div>
